<style>
/* Create two columns/boxes that floats next to each other */
h3 {
  color: #9b7339;
}
nav {
  float: left;
  width: 16%;
  height: 600px; /* only for demonstration, should be removed */
  background: #;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #;
  height: 1300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}
</style>